body{
	background-color:#F5F5F5;
}

#kontener{
	width:1800px;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	text-align: center;
	height:25%;
	background-color: white;
}
#logo img{
	padding-top:15px;
	height: 65%;
	width: auto;
}
#zakladka{
	float:center;
	text-align: center;
	border: 1px solid silver;
	padding:0.5%;
}
#zakladka-stala{
	position:sticky;
	top:0px;
	float:center;
	text-align: center;
	background-color:#F5F5F5;
	padding:0.5%;
	margin:0;
	border: 1px solid silver;
	opacity: 0.7;
}
#aktualnosci{
	text-align: left;
	width: 90%;
	margin-left: 10%;
	margin-right: auto;
}
#zarzad{
	text-align: left;
	width: 90%;
	border-top: 1px solid silver;
	margin-left: auto;
	margin-right: auto;
}
#oszczednosci{
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left:1%;
	padding-right:1%;
}
#oszczednosci img{
	float:right;
	height: 13%;
	width: auto;
}
#stopka{
	color: #696969;
	text-align: center;
	border-top: 1px solid silver;
	padding-top: 1%;
}
.podkreslenie{
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
}
.lewykontener{
	width: 45%;
	float: left;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.prawykontener{
	width: 45%;
	float: left;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.okienko{
	text-align:left;
	display: inline-block;
	width: 400px;
	height: 220px;
	padding: 1%;
	padding-top:3%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	border: 1px outset silver;
	box-shadow: 2px 2px 2px 2px silver;
	background-color:white;
}
.okienko_konto{
	text-align: left;
	display: inline-block;
	width: 350px;
	height: 300px;
	margin: 1%;
	padding: 1%;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
	border: 1px outset silver;
	box-shadow: 2px 2px 2px 2px silver;
	background-color:white;
}
.link{
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width:10%;
	height:10%;
	font-size:14px;
	font-family:Arial;
	color: black;
	margin: 5px;
	padding: 1%;
}
.link:hover {
	background-color: silver;
}
.link img{
	padding:0px;
	margin:0px;
	height:60%;
	width:auto;
}
.kursy{
	width:96%;
	float: left;
	margin: 2%;
	padding-top: 2%;
	border-top: 1px solid silver;
}
.info{
	font-size:15px;
	padding-left:3%;
	padding-right:4%;
}
h1{
	padding-left: 5%;
	font-size: 42px 'Trebuchet MS';
}
h2{
	font-style: italic;
	padding-left:30px;
	font-size:35px 'Trebuchet MS';
}
h3{
	padding-top:30px;
	font-size:35px;
}
.ptekst{
	font-size:22px;
	padding-left:2%;
	padding-right:1%;
	padding-top:0px;
	margin-top:-1%;
	margin-bottom: 2%;
}
h5{
	font-size:18px;
	padding-left:2%;
	padding-right:1%;
}
p{
	padding:5px;
	font-size: 24px;
}
a:link {
	color:black;
	text-decoration:none;
}
a:visited {
	color: black;
	text-decoration:none;
}
.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  background: #F5F5F5;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
          flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: gold;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: cyan;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: gold;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: gold;
}
.tabs .slider {
  position: relative;
  width: 34.5%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.00);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.00);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: gold;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428BFF;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: grey;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: grey;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: grey;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

